# FIFA Prediction
**Objective**: Dev ML model to predict First, Second and Third Place for 2018 FIFA worldcup<br>
**Features**: Kaggle historical data for past matches including friendly games, Eloranking by country<br>
**Purpose**: Submissions for DBS internal competition (Due 25/06/2018)

## 1) Data prep
Process the history kaggle data from results.csv (1930 onwards due to limitation of elorating data)<br>
Possible integration with elorating (Used custom javascript to crawl data from https://www.eloratings.net/)

In [1]:
# import libraries for data manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# example making new class predictions for a classification problem
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, TimeDistributed, AveragePooling1D, Flatten
from keras.utils import to_categorical
from keras.optimizers import Adam, RMSprop

# using sklearn to have 1 liner cross validation
from sklearn.model_selection import train_test_split

c:\users\poryee\appdata\local\programs\python\python35\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# Read .csv files from kaggle
results = pd.read_csv('datasets/results.csv')

In [3]:
# observe results
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland

##### Through the exploration of data we need to find the absolute difference in score and the winning team<br>Append the corresponding results to the newly created columns [wining_team]<br>And finally, keep data of teams that make it to the group stage while dropping the rest

In [4]:
# Adding new column for winner of each match
winner = []
for i in range(len(results['home_team'])):
    if results['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append('Tie')
results['winning_team'] = winner

# Adding new column for goal difference in matches
results['goal_difference'] = np.absolute(results['home_score'] - results['away_score'])

# view new sample header
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,Tie,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Tie,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Scotland,3

In [5]:
# scope current worldcup team qualifing teams
wc_teams = ['Australia', ' Iran', 'Japan', 'Korea Republic', 
            'Saudi Arabia', 'Egypt', 'Morocco', 'Nigeria', 
            'Senegal', 'Tunisia', 'Costa Rica', 'Mexico', 
            'Panama', 'Argentina', 'Brazil', 'Colombia', 
            'Peru', 'Uruguay', 'Belgium', 'Croatia', 
            'Denmark', 'England', 'France', 'Germany', 
            'Iceland', 'Poland', 'Portugal', 'Russia', 
            'Serbia', 'Spain', 'Sweden', 'Switzerland']

# Filter the 'results' dataframe to show only teams in this years' world cup, from 1930 onwards
# we only care about teams that qualify
df_teams_home = results[results['home_team'].isin(wc_teams)]
df_teams_away = results[results['away_team'].isin(wc_teams)]
df_teams = pd.concat((df_teams_home, df_teams_away))
df_teams.drop_duplicates()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Tie,0
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,Scotland,2
10,1879-01-18,England,Wales,2,1,Friendly,London,England,England,1
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,England,1
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,Wales,1
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,Scotland,5
24,1883-02-03,England,Wales,5,0,Friendly,London,England,England,5
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England,England,7
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England,Scotland,1
35,1885-02-28,England,Northern Ireland,4,0,British Championship,Manchester,England,England,4
36,1885-03-14,England,Wales,1,1,British Championship,Blackburn,England,Tie,0
38,1885-03-21,England,Scotland,1,1,British Championship,London,England,Tie,0
49,1887-02-05,England,Northern Ireland,7,0,British Championship,Sheffield,England,England,7
51,1887-02-26,England,Wales,4,0,British Championship,London,England,England,4
53,1887-03-19,England,Scotland,2,3,British Championship,Blackburn,England,Scotland,1
62,1889-02-23,England,Wales,4,1,British Championship,Stoke-on-Trent,England,England,3
63,1889-03-02,England,Northern Ireland,6,1,British Championship,Liverpool,England,England,5
65,1889-04-13,England,Scotland,2,3,British Championship,London,England,Scotland,1
75,1891-03-07,England,Wales,4,1,British Championship,Sunderland,England,England,3
76,1891-03-07,England,Northern Ireland,6,1,British Championship,Wolverhampton,England,England,5
85,1893-02-25,England,Northern Ireland,6,1,British Championship,Birmingham,England,England,5
86,1893-03-13,England,Wales,6,0,British Championship,Stoke-on-Trent,England,England,6
89,1893-04-01,England,Scotland,5,2,British Championship,Richmond,England,England,3
96,1895-03-09,England,Northern Ireland,9,0,British Championship,Derby,England,England,9
98,1895-03-18,England,Wales,1,1,British Championship,London,England,Tie,0
101,1895-04-06,England,Scotland,3,0,British Championship,Liverpool,England,England,3
108,1897-02-20,England,Northern Ireland,6,0,British Championship,Nottingham,England,England,6
112,1897-03-29,England,Wales,4,0,British Championship,Sheffield,England,England,4
113,1897-04-03,England,Scotland,1,2,British Championship,London,England,Scotland,1
...,...,...,...,...,...,...,...,...,...,...
38639,2017-11-13,Italy,Sweden,0,0,FIFA World Cup qualification,Milan,Italy,Tie,0
38644,2017-11-13,Bulgaria,Saudi Arabia,1,0,Friendly,Lisbon,Portugal,Bulgaria,1
38661,2017-11-14,Ireland,Denmark,1,5,FIFA World Cup qualification,Dublin,Ireland,Denmark,4
38663,2017-11-14,Hungary,Costa Rica,1,0,Friendly,Budapest,Hungary,Hungary,1
38667,2017-11-14,China,Colombia,0,4,Friendly,Chongqing,China,Colombia,4
38669,2017-11-14,Qatar,Iceland,1,1,Friendly,Doha,Qatar,Tie,0
38671,2017-11-14,Wales,Panama,1,1,Friendly,Cardiff,Wales,Tie,0
38673,2017-11-14,Austria,Uruguay,2,1,Friendly,Vienna,Austria,Austria,1
38722,2017-12-12,Korea DPR,Korea Republic,0,1,EAFF Championship,Chōfu,Japan,Korea Republic,1
38736,2017-12-22,Kuwait,Saudi Arabia,1,2,Friendly,Kuwait,Kuwait,Saudi Arabia,1
38740,2017-12-25,United Arab Emirates,Saudi Arabia,0,0,Friendly,Kuwait,Kuwait,Tie,0
38752,2018-01-07,Estonia,Sweden,1,1,Friendly,Abu Dhabi,United Arab Emirates,Tie,0
38755,2018-01-11,Indonesia,Iceland,0,6,Friendly,Sleman,Indonesia,Iceland,6
38756,2018-01-14,Indonesia,Iceland,1,4,Friendly,Jakarta,Indonesia,Iceland,3
38757,2018-01-27,Moldova,Korea Republic,0,1,Friendly,Antalya,Turkey,Korea Republic,1
38759,2018-01-30,Jamaica,Korea Republic,2,2,Friendly,Antalya,Turkey,Tie,0
38762,2018-02-03,Latvia,Korea Republic,0,1,Friendly,Antalya,Turkey,Korea Republic,1
38764,2018-02-28,Iraq,Saudi Arabia,4,1,Friendly,Basra,Iraq,Iraq,3
38791,2018-03-23,Netherlands,England,0,1,Friendly,Amsterdam,Netherlands,England,1
38794,2018-03-23,Italy,Argentina,0,2,Friendly,Manchester,England,Argentina,2
38795,2018-03-23,Norway,Australia,4,1,Friendly,Oslo,Norway,Norway,3
38796,2018-03-23,Greece,Switzerland,0,1,Friendly,Athens,Greece,Switzerland,1
38803,2018-03-23,Ukraine,Saudi Arabia,1,1,Friendly,Marbella,Spain,Tie,0
38809,2018-03-23,Scotland,Costa Rica,0,1,Friendly,Glasgow,Scotland,Costa Rica,1
38825,2018-03-24,Northern Ireland,Korea Republic,2,1,Friendly,Belfast,Northern Ireland,Northern Ireland,1
38851,2018-03-26,Wales,Uruguay,0,1,Friendly,Nanning,China,Uruguay,1
38867,2018-03-27,Greece,Egypt,1,0,Friendly,Zurich,Switzerland,Greece,1
38877,2018-03-27,Ukraine,Japan,2,1,Friendly,Liège,Belgium,Ukraine,1
38880,2018-03-27,Romania,Sweden,1,0,Friendly,Craiova,Romania,Romania,1
38881,2018-03-27,Bosnia-Herzegovina,Senegal,0,0,Friendly,Le Havre,France,Tie,0

##### As mentioned earlier, slicing our data from 1930 onwards, due to limitation of elo ranking dataset

In [6]:
# Loop for creating a new column 'year'
year = []
for row in df_teams['date']:
    year.append(int(row[:4]))
df_teams['match_year'] = year

# Slicing the dataset to see how many matches took place from 1930 onwards (the year of the first ever World Cup)
df_teams30 = df_teams[df_teams.match_year >= 1930]
df_teams30.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference,match_year
1230,1930-01-01,Spain,Czechoslovakia,1,0,Friendly,Barcelona,Spain,Spain,1,1930
1231,1930-01-12,Portugal,Czechoslovakia,1,0,Friendly,Lisbon,Portugal,Portugal,1,1930
1237,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,Portugal,2,1930
1238,1930-03-02,Germany,Italy,0,2,Friendly,Frankfurt am Main,Germany,Italy,2,1930
1240,1930-03-23,France,Switzerland,3,3,Friendly,Colombes,France,Tie,0,1930

##### Dropping unused column to reduce dimension needed for training (Speed up training)

In [7]:
df_teams30 = df_teams30.drop(['date', 'home_score', 'away_score', 'tournament', 'city', 'country', 'goal_difference', 'match_year'], axis=1)
df_teams30.head(5)

     home_team       away_team winning_team
1230     Spain  Czechoslovakia        Spain
1231  Portugal  Czechoslovakia     Portugal
1237  Portugal          France     Portugal
1238   Germany           Italy        Italy
1240    France     Switzerland          Tie

##### Map ELO rating based on team name, a major mistake made during the collection of ELO rating <br>(Only qualifier data was collected, in order to have a balance historical view even for teams that did not make it to the qualifiers we only took 2018 rating for missing countries)

In [8]:
# Read .csv files from elo rating
elorating = pd.read_csv('datasets/EloRating.csv', encoding = 'ISO-8859-1')

ELODict={}
for index, row in elorating.iterrows():
    ELODict[row["Team"]]= row["Rating"]

# map rating information into our dataframe    
df_teams30['home_team_rating']=df_teams30['home_team'].map(ELODict)
df_teams30['away_team_rating']=df_teams30['away_team'].map(ELODict)
df_teams30['rating_diff'] = df_teams30['home_team_rating'] - df_teams30['away_team_rating']
df_teams30['rating_diff'] = df_teams30['rating_diff'].astype('int')

df_teams30.head()

,home_team,away_team,winning_team,home_team_rating,away_team_rating,rating_diff
1230,Spain,Czechoslovakia,Spain,2038,1882,156
1231,Portugal,Czechoslovakia,Portugal,1976,1882,94
1237,Portugal,France,Portugal,1976,1999,-23
1238,Germany,Italy,Italy,2077,1850,227
1240,France,Switzerland,Tie,1999,1890,109

## 2) Building our ML Model
Before building the model, we split the data into x,y (X variable like home vs away pair and Y variable who wins)<br>
probably should convert Y into 1 hot vector to avoid bias<br>
Also swap out X variable of country name into ID via hashmap (Keras Input limitation)

In [9]:
# rename winning team string as integer
df_teams30 = df_teams30.reset_index(drop=True)
df_teams30.loc[df_teams30.winning_team == df_teams30.home_team, 'winning_team']= 0
df_teams30.loc[df_teams30.winning_team == 'Tie', 'winning_team']= 2
df_teams30.loc[df_teams30.winning_team == df_teams30.away_team, 'winning_team']= 1 
df_teams30.head()

,home_team,away_team,winning_team,home_team_rating,away_team_rating,rating_diff
0,Spain,Czechoslovakia,0,2038,1882,156
1,Portugal,Czechoslovakia,0,1976,1882,94
2,Portugal,France,0,1976,1999,-23
3,Germany,Italy,1,2077,1850,227
4,France,Switzerland,2,1999,1890,109

In [10]:
# convert all teams into unique ID via dictionary
finalX = df_teams30['home_team'].append(df_teams30['away_team'])
dictionary = dict([(y,x+1) for x,y in enumerate(sorted(set(finalX)))])      
df_teams30["home_team"].replace(dictionary, inplace=True)
df_teams30["away_team"].replace(dictionary, inplace=True)

# Separate X and y sets
X = df_teams30.drop(['winning_team'], axis=1)
y = df_teams30["winning_team"]
y = y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)

# 1 hotvectorisation of our Y column to avoid bias (Also for model to predict category)
y_test_1hot = to_categorical(y_test).astype(np.int)
y_train_1hot = to_categorical(y_train).astype(np.int)

##### basic logistic regression

In [11]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.536
Test set accuracy:  0.541

##### Noticed model is only 50+% accuracy which is pretty low, slightly better than guessing even after using elo ranking dataset as briefly mentioned above to improve our model accuracy instead of just country ID

##### AlternatIve model in keras
Current stack consist input layer with 5 dimension (with elorating for away and home team)<br>
Next dense fully connected dense layers with built in activation relu<br>
Finally softmax to squash output prediction as probability between representing win, draw or tie

In [12]:
### define and fit the final model
model = Sequential()
model.add(Dense(32, input_dim=5, activation='relu'))
# add noise to model to avoid bais
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu',kernel_initializer='normal'))
model.add(Dense(128, activation='relu',kernel_initializer='normal'))
model.add(Dense(64, activation='relu',kernel_initializer='normal'))
model.add(Dense(32, activation='relu',kernel_initializer='normal'))
#model.add(Dense(3))
# squash result as probability
model.add(Dense(3, activation='softmax'))


#optimisation to converge faster
#epsilon so that division is not 0 think of it as bias recommended 10^-8
#rmsprop = RMSprop(lr=0.001, rho=0.9, epsilon=1e-08, decay=0.0)
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['categorical_accuracy'])



# toggle verbose to print text
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=20, verbose=1,batch_size=32)
#model.fit(X_train, y_train_1hot, validation_data=(X_test,y_test_1hot), epochs=1000, verbose=0)

Train on 13046 samples, validate on 6426 samples
Epoch 1/20
13046/13046 [==============================] - 2s 175us/step - loss: 1.0412 - categorical_accuracy: 0.7024 - val_loss: 0.9716 - val_categorical_accuracy: 0.7233
Epoch 2/20
13046/13046 [==============================] - 2s 117us/step - loss: 0.9888 - categorical_accuracy: 0.7346 - val_loss: 0.9732 - val_categorical_accuracy: 0.7745
Epoch 3/20
13046/13046 [==============================] - 1s 95us/step - loss: 0.9858 - categorical_accuracy: 0.7382 - val_loss: 0.9789 - val_categorical_accuracy: 0.5736
Epoch 4/20
13046/13046 [==============================] - 1s 91us/step - loss: 0.9865 - categorical_accuracy: 0.7313 - val_loss: 0.9751 - val_categorical_accuracy: 0.6874
Epoch 5/20
13046/13046 [==============================] - 1s 94us/step - loss: 0.9836 - categorical_accuracy: 0.7308 - val_loss: 0.9747 - val_categorical_accuracy: 0.7123
Epoch 6/20
13046/13046 [==============================] - 1s 94us/step - loss: 0.9818 - categorical_accuracy: 0.7280 - val_loss: 0.9833 - val_categorical_accuracy: 0.6941
Epoch 7/20
13046/13046 [==============================] - 1s 96us/step - loss: 0.9817 - categorical_accuracy: 0.7303 - val_loss: 0.9762 - val_categorical_accuracy: 0.7538
Epoch 8/20
13046/13046 [==============================] - 1s 96us/step - loss: 0.9815 - categorical_accuracy: 0.7337 - val_loss: 0.9808 - val_categorical_accuracy: 0.8581
Epoch 9/20
13046/13046 [==============================] - 1s 96us/step - loss: 0.9810 - categorical_accuracy: 0.7234 - val_loss: 0.9704 - val_categorical_accuracy: 0.7448
Epoch 10/20
13046/13046 [==============================] - 1s 94us/step - loss: 0.9818 - categorical_accuracy: 0.7474 - val_loss: 0.9763 - val_categorical_accuracy: 0.7901
Epoch 11/20
13046/13046 [==============================] - 1s 100us/step - loss: 0.9797 - categorical_accuracy: 0.7384 - val_loss: 0.9685 - val_categorical_accuracy: 0.7277
Epoch 12/20
13046/13046 [==============================] - 1s 103us/step - loss: 0.9792 - categorical_accuracy: 0.7385 - val_loss: 0.9768 - val_categorical_accuracy: 0.7281
Epoch 13/20
13046/13046 [==============================] - 1s 99us/step - loss: 0.9784 - categorical_accuracy: 0.7387 - val_loss: 0.9769 - val_categorical_accuracy: 0.7101
Epoch 14/20
13046/13046 [==============================] - 1s 102us/step - loss: 0.9794 - categorical_accuracy: 0.7332 - val_loss: 0.9731 - val_categorical_accuracy: 0.7485
Epoch 15/20
13046/13046 [==============================] - 1s 103us/step - loss: 0.9780 - categorical_accuracy: 0.7404 - val_loss: 0.9767 - val_categorical_accuracy: 0.6872
Epoch 16/20
13046/13046 [==============================] - 1s 99us/step - loss: 0.9789 - categorical_accuracy: 0.7206 - val_loss: 0.9742 - val_categorical_accuracy: 0.7277
Epoch 17/20
13046/13046 [==============================] - 1s 98us/step - loss: 0.9781 - categorical_accuracy: 0.7421 - val_loss: 0.9693 - val_categorical_accuracy: 0.6379
Epoch 18/20
13046/13046 [==============================] - 1s 104us/step - loss: 0.9795 - categorical_accuracy: 0.7296 - val_loss: 0.9723 - val_categorical_accuracy: 0.8080
Epoch 19/20
13046/13046 [==============================] - 1s 105us/step - loss: 0.9781 - categorical_accuracy: 0.7420 - val_loss: 0.9679 - val_categorical_accuracy: 0.7165
Epoch 20/20
13046/13046 [==============================] - 1s 108us/step - loss: 0.9784 - categorical_accuracy: 0.7333 - val_loss: 0.9683 - val_categorical_accuracy: 0.6766

In [13]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 32)                192
_________________________________________________________________
dropout_1 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_2 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_3 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_4 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_5 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 99
=================================================================
Total params: 21,059
Trainable params: 21,059
Non-trainable params: 0
_________________________________________________________________

##### Noticed we only have 50+ % accuracy not very good for a ML model which should at least hit 70. We will be including elo ranking dataset as briefly mentioned above to improve our model accuracy

In [14]:
scores = model.evaluate(X_train, y_train_1hot, verbose=0)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

#print(y_test)
# sampling our model prediction
test_sample=np.array([145,183,1902,1795,178]).reshape(1,5)
# predict output index 
output=model.predict_classes(test_sample)
print(output)

import numpy
from numpy import unravel_index
numpy.set_printoptions(threshold=numpy.nan)
# result verification
y_pred = model.predict_classes(X_test)

print(y_pred)

#predictions = numpy.argmax(model.predict(X_test), axis=1)
#for i in range(1000):
 #   print(predictions)
plt.scatter(X_test['home_team'], y_pred)
plt.show()

# too hard to see
#print(y_pred)
#print(y_test)

ValueError: Error when checking target: expected dense_6 to have shape (None, 1) but got array with shape (13046, 3)

## 3) Creating prediction sets from current 2018 data
before final prediction we will have to clean up the dataset and merge accordingly

In [ ]:
# Loading new datasets
ranking = pd.read_csv('datasets/fifa_rankings.csv') # Obtained from https://us.soccerway.com/teams/rankings/fifa/?ICID=TN_03_05_01
fixtures = pd.read_csv('datasets/fixtures.csv') # Obtained from https://fixturedownload.com/results/fifa-world-cup-2018

# List for storing the group stage games
pred_set = []

##### include fix ranking within our 2018 group stage fixture

In [ ]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Home Team'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Away Team'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
# the slice can be read as get till row 48 for all columns
fixtures = fixtures.iloc[:48, :]
fixtures.tail()

##### predicting which team proceeds to next stage

In [ ]:

# Loop to add teams to new prediction dataset based on the ranking position of each team# Loop  
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

## 4)  Deploy Model
Using our previously trained model

In [ ]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

In [ ]:
predictions = logreg.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Tie")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
    print('Probability of Tie: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
    print("")

##### hard codethe group stage tuple all the way to the finals, this sort of flexibility instead of code driven function allows us to modify who proceed to quater finals so on and so forth based on actual results (Ideally, our model should predict the outcode for every match correctly but hey nothing is perfect right?)

In [ ]:
# List of tuples before we arrange the teams in home and away
group_16 = [('Uruguay', 'Spain'),
            ('France', 'Croatia'),
            ('Brazil', 'Mexico'),
            ('England', 'Colombia'),
            ('Portugal', 'Russia'),
            ('Argentina', 'Peru'),
            ('Germany', 'Switzerland'),
            ('Poland', 'Belgium')]

##### Function to clean tuple dataset from fixture and order by ranking (A not so nice approach to give higher ranking teams as homedue to higher win rate)

In [ ]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to FIFA ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better, he will be the 'home' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'home_team': matches[j][0], 'away_team': matches[j][1]})
        else:
            dict1.update({'home_team': matches[j][1], 'away_team': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1

    # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    # Remove winning team column
    pred_set = pred_set.drop(['winning_team'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 2:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        elif predictions[i] == 1:
            print("Tie")
        elif predictions[i] == 0:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ' , '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
        print('Probability of Tie: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1])) 
        print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
        print("")

In [ ]:
# actual run
clean_and_predict(group_16, ranking, final, logreg)

##### based on previous result proceed

In [ ]:
# List of matches
quarters = [('Spain', 'France'),
            ('Portugal', 'Argentina'),
            ('Brazil', 'England'),
            ('Germany', 'Belgium')]

In [ ]:
clean_and_predict(quarters, ranking, final, logreg)

In [ ]:
# List of matches
semi = [('France', 'Brazil'),
        ('Argentina', 'Germany')]

In [ ]:
clean_and_predict(semi, ranking, final, logreg)

In [ ]:
# The final game# The big 
finals = [('Brazil', 'Germany')]

In [ ]:
clean_and_predict(finals, ranking, final, logreg)

## 5) FIFA 2018 Score Prediction

Using simple linear regression to predict the Total Goals for the Final/SemiFinal Match<br>
After which a difference of winner loser linear regression is used based on the predicted Total Goals to retrieve the end result<br>
For more detail please refer to: 2018 world cup score prediction/(Total)<br>

<img style="margin-left: 0;" src="images/3rd place.jpg">
**The predicted Score for the SemiFinals: 4-3**


<img style="margin-left: 0;" src="images/Final Score.jpg">
**The predicted Score for the Finals: 2-1**

## 6) Project Review 
**The experiments**:<br>
Elo rating did improve prediction from 50~% to 70~%<br>
found that LSTM model would not help with model converging<br>
the score prediction was separated out from winners and losers to avoid dependancies

**For future work**:<br>
Improve handling of draw to proceed in matches after group stage<br>
Also ranking could be used for training and not just sorting teams between home and away<br>
Finally, betting historic data would have been helpful<br>

**Limitation**<br>
The limitation of this model would be the inability to predict score but instead predicting win or lose<br>
A separate linear regression algorithm would be use to predict the score instead

## 7) References
https://machinelearningmastery.com/evaluate-performance-deep-learning-models-keras/<br>
https://medium.com/@siavash_37715/how-to-predict-bitcoin-and-ethereum-price-with-rnn-lstm-in-keras-a6d8ee8a5109<br>
https://towardsdatascience.com/using-lstms-to-forecast-time-series-4ab688386b1f<br>
https://github.com/charliechurches/Russia_World_Cup_Prediction/blob/master/Russia_World_Cup_predict.ipynb<br>
https://www.eloratings.net/<br>
https://www.youtube.com/watch?v=Cltt47Ah3Q4